DATABASE_URL="db_url"
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=secret
GITHUB_CLIENT_SECRET=secret

GOOGLE_CLIENT_ID=secret
GOOGLE_CLIENT_SECRET=secret

DEEPGRAM_API_KEY=your_secret
GEMINI_API_KEY=your_secret

S3_BUCKET_NAME=your_bucket_name
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_ENDPOINT_URL_S3=url
AWS_ENDPOINT_URL_IAM=url
AWS_REGION=auto

GROQ_API_KEY="your_key"